@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-gray-600
    }

    .sidebar-icon {
        @apply relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto
            bg-gray-700
            hover:text-white
            rounded-3xl hover:rounded-xl
            transition-all duration-300 ease-linear
            cursor-pointer
    }
    .icon-default {
        @apply text-green-500
            hover:bg-green-600
    }

    .icon-customer {
        @apply  text-gray-400
            hover:bg-blue-600
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 z-10
            rounded-md shadow-md shadow-gray-900
            text-white bg-zinc-900
            text-xs font-bold
            transition-all duration-100 scale-0 origin-left
    }

    .indicate-actived {
        @apply absolute w-3 h-3 left-[-8px] my-6
            rounded-full
            bg-white
            transition-all duration-100 scale-0 origin-left
    }
}